<div class="row">
  <div class="col-12">
    <div class="card">
      <a routerLink="create-device" href="#" class="btn btn-icon btn-success"  title="Add User" data-toggle="tooltip" ><i class="fas fa-plus"></i></a>
      <div class="card-header">
        <h4>Nhóm Thiết Bị </h4>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table datatable class="table table-bordered table-striped" [dtOptions]="dtOptions">
          <thead>
          <tr>
            <th>ID</th>
            <th>Tên thiết Bị</th>
            <th>Id thiết bị</th>
            <th>Trạng thái hoạt đông</th>
            <th>Chức năng</th>
          </tr>
          </thead>
        <tbody>
        <tr>
          <td>183</td>
          <td>John Doe</td>
          <td>11-7-2014</td>
          <td><span class="tag tag-success">Approved</span></td>
          <td class="row justify-content-center">
            <a routerLink="detail-device" title="Detail Device" class="btn btn-primary btn-action mr-1 "><i class="fas fa-info-circle"></i></a>
            <a routerLink="update-device" title="Update Device" class="btn btn-primary btn-action mr-1"><i class="fas fa-pencil-alt"></i></a>
            <a routerLink="delete-device" title="Delete Device" class="btn btn-danger btn-action"><i class="fas fa-trash"></i></a>

          </td>
        </tr>
        <tr>
          <td>183</td>
          <td>John Doe</td>
          <td>11-7-2014</td>
          <td><span class="tag tag-success">Approved</span></td>
          <td class="row justify-content-center">
            <a routerLink="detail-device" title="Detail Device" class="btn btn-primary btn-action mr-1 "><i class="fas fa-info-circle"></i></a>
            <a routerLink="update-device" title="Update Device" class="btn btn-primary btn-action mr-1"><i class="fas fa-pencil-alt"></i></a>
            <a routerLink="delete-device" title="Delete Device" class="btn btn-danger btn-action"><i class="fas fa-trash"></i></a>

          </td>
        </tr>
        <tr>
          <td>183</td>
          <td>John Doe</td>
          <td>11-7-2014</td>
          <td><span class="tag tag-success">Approved</span></td>
          <td class="row justify-content-center">
            <a routerLink="detail-device" title="Detail Device" class="btn btn-primary btn-action mr-1 "><i class="fas fa-info-circle"></i></a>
            <a routerLink="update-device" title="Update Device" class="btn btn-primary btn-action mr-1"><i class="fas fa-pencil-alt"></i></a>
            <a routerLink="delete-device" title="Delete Device" class="btn btn-danger btn-action"><i class="fas fa-trash"></i></a>

          </td>
        </tr>
        <tr>
          <td>183</td>
          <td>John Doe</td>
          <td>11-7-2014</td>
          <td><span class="tag tag-success">Approved</span></td>
          <td class="row justify-content-center">
            <a routerLink="detail-device" title="Detail Device" class="btn btn-primary btn-action mr-1 "><i class="fas fa-info-circle"></i></a>
            <a routerLink="update-device" title="Update Device" class="btn btn-primary btn-action mr-1"><i class="fas fa-pencil-alt"></i></a>
            <a routerLink="delete-device" title="Delete Device" class="btn btn-danger btn-action"><i class="fas fa-trash"></i></a>

          </td>
        </tr>
        <tr>
          <td>183</td>
          <td>John Doe</td>
          <td>11-7-2014</td>
          <td><span class="tag tag-success">Approved</span></td>
          <td class="row justify-content-center">
            <a routerLink="detail-device" title="Detail Device" class="btn btn-primary btn-action mr-1 "><i class="fas fa-info-circle"></i></a>
            <a routerLink="update-device" title="Update Device" class="btn btn-primary btn-action mr-1"><i class="fas fa-pencil-alt"></i></a>
            <a routerLink="delete-device" title="Delete Device" class="btn btn-danger btn-action"><i class="fas fa-trash"></i></a>

          </td>
        </tr>
        <tr>
          <td>183</td>
          <td>John Doe</td>
          <td>11-7-2014</td>
          <td><span class="tag tag-success">Approved</span></td>
          <td class="row justify-content-center">
            <a routerLink="detail-device" title="Detail Device" class="btn btn-primary btn-action mr-1 "><i class="fas fa-info-circle"></i></a>
            <a routerLink="update-device" title="Update Device" class="btn btn-primary btn-action mr-1"><i class="fas fa-pencil-alt"></i></a>
            <a routerLink="delete-device" title="Delete Device" class="btn btn-danger btn-action"><i class="fas fa-trash"></i></a>

          </td>
        </tr>
        <tr>
          <td>183</td>
          <td>John Doe</td>
          <td>11-7-2014</td>
          <td><span class="tag tag-success">Approved</span></td>
          <td class="row justify-content-center">
            <a routerLink="detail-device" title="Detail Device" class="btn btn-primary btn-action mr-1 "><i class="fas fa-info-circle"></i></a>
            <a routerLink="update-device" title="Update Device" class="btn btn-primary btn-action mr-1"><i class="fas fa-pencil-alt"></i></a>
            <a routerLink="delete-device" title="Delete Device" class="btn btn-danger btn-action"><i class="fas fa-trash"></i></a>

          </td>
        </tr>
        <tr>
          <td>183</td>
          <td>John Doe</td>
          <td>11-7-2014</td>
          <td><span class="tag tag-success">Approved</span></td>
          <td class="row justify-content-center">
            <a routerLink="detail-device" title="Detail Device" class="btn btn-primary btn-action mr-1 "><i class="fas fa-info-circle"></i></a>
            <a routerLink="update-device" title="Update Device" class="btn btn-primary btn-action mr-1"><i class="fas fa-pencil-alt"></i></a>
            <a routerLink="delete-device" title="Delete Device" class="btn btn-danger btn-action"><i class="fas fa-trash"></i></a>

          </td>
        </tr>
        <tr>
          <td>183</td>
          <td>John Doe</td>
          <td>11-7-2014</td>
          <td><span class="tag tag-success">Approved</span></td>
          <td class="row justify-content-center">
            <a routerLink="detail-device" title="Detail Device" class="btn btn-primary btn-action mr-1 "><i class="fas fa-info-circle"></i></a>
            <a routerLink="update-device" title="Update Device" class="btn btn-primary btn-action mr-1"><i class="fas fa-pencil-alt"></i></a>
            <a routerLink="delete-device" title="Delete Device" class="btn btn-danger btn-action"><i class="fas fa-trash"></i></a>

          </td>
        </tr>
        <tr>
          <td>183</td>
          <td>John Doe</td>
          <td>11-7-2014</td>
          <td><span class="tag tag-success">Approved</span></td>
          <td class="row justify-content-center">
            <a routerLink="detail-device" title="Detail Device" class="btn btn-primary btn-action mr-1 "><i class="fas fa-info-circle"></i></a>
            <a routerLink="update-device" title="Update Device" class="btn btn-primary btn-action mr-1"><i class="fas fa-pencil-alt"></i></a>
            <a routerLink="delete-device" title="Delete Device" class="btn btn-danger btn-action"><i class="fas fa-trash"></i></a>

          </td>
        </tr>
        <tr>
          <td>183</td>
          <td>John Doe</td>
          <td>11-7-2014</td>
          <td><span class="tag tag-success">Approved</span></td>
          <td class="row justify-content-center">
            <a routerLink="detail-device" title="Detail Device" class="btn btn-primary btn-action mr-1 "><i class="fas fa-info-circle"></i></a>
            <a routerLink="update-device" title="Update Device" class="btn btn-primary btn-action mr-1"><i class="fas fa-pencil-alt"></i></a>
            <a routerLink="delete-device" title="Delete Device" class="btn btn-danger btn-action"><i class="fas fa-trash"></i></a>

          </td>
        </tr>
        <tr>
          <td>183</td>
          <td>John Doe</td>
          <td>11-7-2014</td>
          <td><span class="tag tag-success">Approved</span></td>
          <td class="row justify-content-center">
            <a routerLink="detail-device" title="Detail Device" class="btn btn-primary btn-action mr-1 "><i class="fas fa-info-circle"></i></a>
            <a routerLink="update-device" title="Update Device" class="btn btn-primary btn-action mr-1"><i class="fas fa-pencil-alt"></i></a>
            <a routerLink="delete-device" title="Delete Device" class="btn btn-danger btn-action"><i class="fas fa-trash"></i></a>

          </td>
        </tr>
        <tr>
          <td>183</td>
          <td>John Doe</td>
          <td>11-7-2014</td>
          <td><span class="tag tag-success">Approved</span></td>
          <td class="row justify-content-center">
            <a routerLink="detail-device" title="Detail Device" class="btn btn-primary btn-action mr-1 "><i class="fas fa-info-circle"></i></a>
            <a routerLink="update-device" title="Update Device" class="btn btn-primary btn-action mr-1"><i class="fas fa-pencil-alt"></i></a>
            <a routerLink="delete-device" title="Delete Device" class="btn btn-danger btn-action"><i class="fas fa-trash"></i></a>

          </td>
        </tr>
        <tr>
          <td>183</td>
          <td>John Doe</td>
          <td>11-7-2014</td>
          <td><span class="tag tag-success">Approved</span></td>
          <td class="row justify-content-center">
            <a routerLink="detail-device" title="Detail Device" class="btn btn-primary btn-action mr-1 "><i class="fas fa-info-circle"></i></a>
            <a routerLink="update-device" title="Update Device" class="btn btn-primary btn-action mr-1"><i class="fas fa-pencil-alt"></i></a>
            <a routerLink="delete-device" title="Delete Device" class="btn btn-danger btn-action"><i class="fas fa-trash"></i></a>

          </td>
        </tr>
        <tr>
          <td>183</td>
          <td>John Doe</td>
          <td>11-7-2014</td>
          <td><span class="tag tag-success">Approved</span></td>
          <td class="row justify-content-center">
            <a routerLink="detail-device" title="Detail Device" class="btn btn-primary btn-action mr-1 "><i class="fas fa-info-circle"></i></a>
            <a routerLink="update-device" title="Update Device" class="btn btn-primary btn-action mr-1"><i class="fas fa-pencil-alt"></i></a>
            <a routerLink="delete-device" title="Delete Device" class="btn btn-danger btn-action"><i class="fas fa-trash"></i></a>

          </td>
        </tr>
        <tr>
          <td>183</td>
          <td>John Doe</td>
          <td>11-7-2014</td>
          <td><span class="tag tag-success">Approved</span></td>
          <td class="row justify-content-center">
            <a routerLink="detail-device" title="Detail Device" class="btn btn-primary btn-action mr-1 "><i class="fas fa-info-circle"></i></a>
            <a routerLink="update-device" title="Update Device" class="btn btn-primary btn-action mr-1"><i class="fas fa-pencil-alt"></i></a>
            <a routerLink="delete-device" title="Delete Device" class="btn btn-danger btn-action"><i class="fas fa-trash"></i></a>

          </td>
        </tr>
        <tr>
          <td>183</td>
          <td>John Doe</td>
          <td>11-7-2014</td>
          <td><span class="tag tag-success">Approved</span></td>
          <td class="row justify-content-center">
            <a routerLink="detail-device" title="Detail Device" class="btn btn-primary btn-action mr-1 "><i class="fas fa-info-circle"></i></a>
            <a routerLink="update-device" title="Update Device" class="btn btn-primary btn-action mr-1"><i class="fas fa-pencil-alt"></i></a>
            <a routerLink="delete-device" title="Delete Device" class="btn btn-danger btn-action"><i class="fas fa-trash"></i></a>

          </td>
        </tr>
        <tr>
          <td>183</td>
          <td>John Doe</td>
          <td>11-7-2014</td>
          <td><span class="tag tag-success">Approved</span></td>
          <td class="row justify-content-center">
            <a routerLink="detail-device" title="Detail Device" class="btn btn-primary btn-action mr-1 "><i class="fas fa-info-circle"></i></a>
            <a routerLink="update-device" title="Update Device" class="btn btn-primary btn-action mr-1"><i class="fas fa-pencil-alt"></i></a>
            <a routerLink="delete-device" title="Delete Device" class="btn btn-danger btn-action"><i class="fas fa-trash"></i></a>

          </td>
        </tr>
        <tr>
          <td>183</td>
          <td>John Doe</td>
          <td>11-7-2014</td>
          <td><span class="tag tag-success">Approved</span></td>
          <td class="row justify-content-center">
            <a routerLink="detail-device" title="Detail Device" class="btn btn-primary btn-action mr-1 "><i class="fas fa-info-circle"></i></a>
            <a routerLink="update-device" title="Update Device" class="btn btn-primary btn-action mr-1"><i class="fas fa-pencil-alt"></i></a>
            <a routerLink="delete-device" title="Delete Device" class="btn btn-danger btn-action"><i class="fas fa-trash"></i></a>

          </td>
        </tr>
        <tr>
          <td>183</td>
          <td>John Doe</td>
          <td>11-7-2014</td>
          <td><span class="tag tag-success">Approved</span></td>
          <td class="row justify-content-center">
            <a routerLink="detail-device" title="Detail Device" class="btn btn-primary btn-action mr-1 "><i class="fas fa-info-circle"></i></a>
            <a routerLink="update-device" title="Update Device" class="btn btn-primary btn-action mr-1"><i class="fas fa-pencil-alt"></i></a>
            <a routerLink="delete-device" title="Delete Device" class="btn btn-danger btn-action"><i class="fas fa-trash"></i></a>

          </td>
        </tr>
        </tbody>

        </table>
      </div>
      <!-- /.card-body -->
    </div></div></div>
