<!-- /.row -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="card-tools">

        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-hover text-nowrap">
          <thead>
          <tr>
            <th>ID</th>
            <th>Device Id</th>
            <th>Device Name</th>
            <th>Device Store</th>
            <th>Area</th>
            <th>Username</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let device of deviceList">
            <td>{{device.id}}</td>
            <td>{{device.deviceID}}</td>
            <td>{{device.deviceName}}</td>
            <td>{{device.storeName}}</td>
            <td>{{device.area}}</td>
            <td>{{device.username}}</td>
            <td class="row justify-content-center">
              <a routerLink="status-detail" title="Detail Device" class="btn btn-primary btn-action mr-1 "><i class="fas fa-info-circle"></i></a>
              <a routerLink="status-update" title="Update Device" class="btn btn-primary btn-action mr-1"><i class="fas fa-pencil-alt"></i></a>
              <a routerLink="status-delete" title="Delete Device" class="btn btn-danger btn-action"><i class="fas fa-trash"></i></a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div></div></div>
