<!-- /.row -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="card-tools">

        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap" [dtOptions]="dtOptions" datatable>
          <thead>
          <tr>
            <th>ID</th>
            <th>Tên thiết Bị</th>
            <th>Id thiết bị</th>
            <th>Trạng thái hoạt đông</th>
            <th>Chức năng</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>183</td>
            <td>John Doe</td>
            <td>11-7-2014</td>
            <td><span class="tag tag-success">Approved</span></td>
            <td class="row justify-content-center">
              <a routerLink="status-detail" title="Detail Device" class="btn btn-primary btn-action mr-1 "><i class="fas fa-info-circle"></i></a>
              <a routerLink="status-update" title="Update Device" class="btn btn-primary btn-action mr-1"><i class="fas fa-pencil-alt"></i></a>
              <a routerLink="status-delete" title="Delete Device" class="btn btn-danger btn-action"><i class="fas fa-trash"></i></a>

            </td>
          </tr>
          <tr>
            <td>183</td>
            <td>John Doe</td>
            <td>11-7-2014</td>
            <td><span class="tag tag-success">Approved</span></td>
            <td class="row justify-content-center">
              <a routerLink="status-detail" title="Detail Device" class="btn btn-primary btn-action mr-1 "><i class="fas fa-info-circle"></i></a>
              <a routerLink="status-update" title="Update Device" class="btn btn-primary btn-action mr-1"><i class="fas fa-pencil-alt"></i></a>
              <a routerLink="status-delete" title="Delete Device" class="btn btn-danger btn-action"><i class="fas fa-trash"></i></a>

            </td>
          </tr>
          <tr>
            <td>183</td>
            <td>John Doe</td>
            <td>11-7-2014</td>
            <td><span class="tag tag-success">Approved</span></td>
            <td class="row justify-content-center">
              <a routerLink="status-detail" title="Detail Device" class="btn btn-primary btn-action mr-1 "><i class="fas fa-info-circle"></i></a>
              <a routerLink="status-update" title="Update Device" class="btn btn-primary btn-action mr-1"><i class="fas fa-pencil-alt"></i></a>
              <a routerLink="status-delete" title="Delete Device" class="btn btn-danger btn-action"><i class="fas fa-trash"></i></a>

            </td>
          </tr>
          <tr>
            <td>183</td>
            <td>John Doe</td>
            <td>11-7-2014</td>
            <td><span class="tag tag-success">Approved</span></td>
            <td class="row justify-content-center">
              <a routerLink="status-detail" title="Detail Device" class="btn btn-primary btn-action mr-1 "><i class="fas fa-info-circle"></i></a>
              <a routerLink="status-update" title="Update Device" class="btn btn-primary btn-action mr-1"><i class="fas fa-pencil-alt"></i></a>
              <a routerLink="status-delete" title="Delete Device" class="btn btn-danger btn-action"><i class="fas fa-trash"></i></a>

            </td>
          </tr>
          <tr>
            <td>183</td>
            <td>John Doe</td>
            <td>11-7-2014</td>
            <td><span class="tag tag-success">Approved</span></td>
            <td class="row justify-content-center">
              <a routerLink="status-detail" title="Detail Device" class="btn btn-primary btn-action mr-1 "><i class="fas fa-info-circle"></i></a>
              <a routerLink="status-update" title="Update Device" class="btn btn-primary btn-action mr-1"><i class="fas fa-pencil-alt"></i></a>
              <a routerLink="status-delete" title="Delete Device" class="btn btn-danger btn-action"><i class="fas fa-trash"></i></a>

            </td>
          </tr>
          <tr>
            <td>183</td>
            <td>John Doe</td>
            <td>11-7-2014</td>
            <td><span class="tag tag-success">Approved</span></td>
            <td class="row justify-content-center">
              <a routerLink="status-detail" title="Detail Device" class="btn btn-primary btn-action mr-1 "><i class="fas fa-info-circle"></i></a>
              <a routerLink="status-update" title="Update Device" class="btn btn-primary btn-action mr-1"><i class="fas fa-pencil-alt"></i></a>
              <a routerLink="status-delete" title="Delete Device" class="btn btn-danger btn-action"><i class="fas fa-trash"></i></a>

            </td>
          </tr>
          <tr>
            <td>183</td>
            <td>John Doe</td>
            <td>11-7-2014</td>
            <td><span class="tag tag-success">Approved</span></td>
            <td class="row justify-content-center">
              <a routerLink="status-detail" title="Detail Device" class="btn btn-primary btn-action mr-1 "><i class="fas fa-info-circle"></i></a>
              <a routerLink="status-update" title="Update Device" class="btn btn-primary btn-action mr-1"><i class="fas fa-pencil-alt"></i></a>
              <a routerLink="status-delete" title="Delete Device" class="btn btn-danger btn-action"><i class="fas fa-trash"></i></a>

            </td>
          </tr>
          <tr>
            <td>183</td>
            <td>John Doe</td>
            <td>11-7-2014</td>
            <td><span class="tag tag-success">Approved</span></td>
            <td class="row justify-content-center">
              <a routerLink="status-detail" title="Detail Device" class="btn btn-primary btn-action mr-1 "><i class="fas fa-info-circle"></i></a>
              <a routerLink="status-update" title="Update Device" class="btn btn-primary btn-action mr-1"><i class="fas fa-pencil-alt"></i></a>
              <a routerLink="status-delete" title="Delete Device" class="btn btn-danger btn-action"><i class="fas fa-trash"></i></a>

            </td>
          </tr>
          <tr>
            <td>183</td>
            <td>John Doe</td>
            <td>11-7-2014</td>
            <td><span class="tag tag-success">Approved</span></td>
            <td class="row justify-content-center">
              <a routerLink="status-detail" title="Detail Device" class="btn btn-primary btn-action mr-1 "><i class="fas fa-info-circle"></i></a>
              <a routerLink="status-update" title="Update Device" class="btn btn-primary btn-action mr-1"><i class="fas fa-pencil-alt"></i></a>
              <a routerLink="status-delete" title="Delete Device" class="btn btn-danger btn-action"><i class="fas fa-trash"></i></a>

            </td>
          </tr>
          <tr>
            <td>183</td>
            <td>John Doe</td>
            <td>11-7-2014</td>
            <td><span class="tag tag-success">Approved</span></td>
            <td class="row justify-content-center">
              <a routerLink="status-detail" title="Detail Device" class="btn btn-primary btn-action mr-1 "><i class="fas fa-info-circle"></i></a>
              <a routerLink="status-update" title="Update Device" class="btn btn-primary btn-action mr-1"><i class="fas fa-pencil-alt"></i></a>
              <a routerLink="status-delete" title="Delete Device" class="btn btn-danger btn-action"><i class="fas fa-trash"></i></a>

            </td>
          </tr>
          <tr>
            <td>183</td>
            <td>John Doe</td>
            <td>11-7-2014</td>
            <td><span class="tag tag-success">Approved</span></td>
            <td class="row justify-content-center">
              <a routerLink="status-detail" title="Detail Device" class="btn btn-primary btn-action mr-1 "><i class="fas fa-info-circle"></i></a>
              <a routerLink="status-update" title="Update Device" class="btn btn-primary btn-action mr-1"><i class="fas fa-pencil-alt"></i></a>
              <a routerLink="status-delete" title="Delete Device" class="btn btn-danger btn-action"><i class="fas fa-trash"></i></a>

            </td>
          </tr>
          <tr>
            <td>183</td>
            <td>John Doe</td>
            <td>11-7-2014</td>
            <td><span class="tag tag-success">Approved</span></td>
            <td class="row justify-content-center">
              <a routerLink="status-detail" title="Detail Device" class="btn btn-primary btn-action mr-1 "><i class="fas fa-info-circle"></i></a>
              <a routerLink="status-update" title="Update Device" class="btn btn-primary btn-action mr-1"><i class="fas fa-pencil-alt"></i></a>
              <a routerLink="status-delete" title="Delete Device" class="btn btn-danger btn-action"><i class="fas fa-trash"></i></a>

            </td>
          </tr>
          <tr>
            <td>183</td>
            <td>John Doe</td>
            <td>11-7-2014</td>
            <td><span class="tag tag-success">Approved</span></td>
            <td class="row justify-content-center">
              <a routerLink="status-detail" title="Detail Device" class="btn btn-primary btn-action mr-1 "><i class="fas fa-info-circle"></i></a>
              <a routerLink="status-update" title="Update Device" class="btn btn-primary btn-action mr-1"><i class="fas fa-pencil-alt"></i></a>
              <a routerLink="status-delete" title="Delete Device" class="btn btn-danger btn-action"><i class="fas fa-trash"></i></a>

            </td>
          </tr>
          <tr>
            <td>183</td>
            <td>John Doe</td>
            <td>11-7-2014</td>
            <td><span class="tag tag-success">Approved</span></td>
            <td class="row justify-content-center">
              <a routerLink="status-detail" title="Detail Device" class="btn btn-primary btn-action mr-1 "><i class="fas fa-info-circle"></i></a>
              <a routerLink="status-update" title="Update Device" class="btn btn-primary btn-action mr-1"><i class="fas fa-pencil-alt"></i></a>
              <a routerLink="status-delete" title="Delete Device" class="btn btn-danger btn-action"><i class="fas fa-trash"></i></a>

            </td>
          </tr>
          <tr>
            <td>183</td>
            <td>John Doe</td>
            <td>11-7-2014</td>
            <td><span class="tag tag-success">Approved</span></td>
            <td class="row justify-content-center">
              <a routerLink="status-detail" title="Detail Device" class="btn btn-primary btn-action mr-1 "><i class="fas fa-info-circle"></i></a>
              <a routerLink="status-update" title="Update Device" class="btn btn-primary btn-action mr-1"><i class="fas fa-pencil-alt"></i></a>
              <a routerLink="status-delete" title="Delete Device" class="btn btn-danger btn-action"><i class="fas fa-trash"></i></a>

            </td>
          </tr>

          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div></div></div>
